@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
}

html, body {
  height: 100%;
}

button {
  background-color: teal;
  border-radius: 0.5rem;
  border-width: 0;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.6rem;
}

select {
  appearance: none;
  cursor: pointer;
}

.container {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 14rem auto auto;
  padding: 2rem;
}


/* Header */

header {
  display: grid;
  grid-template-columns: 8rem 1fr 8rem;
  grid-template-rows: 1fr auto 8rem auto 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.8rem;
  background-color: lightgray;
  color: teal;
}

.p1-label, .p2-label {
  grid-row-start: 2;
  font-weight: 600;
}

.div-p1-person-img, .div-p2-person-img {
  grid-row-start: 3;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.2rem teal;
  border-radius: 100%;
  background-image: url('../img/blank.png');
  background-size: cover;
}

h1 {
  grid-row-start: 3;
  font-size: 3rem;
}

.p1-person-name, .div-p2-person-name {
  grid-row-start: 4;
  font-size: 1.2rem;
  font-weight: 700;
}

.p2-label, .div-p2-person-name {
  grid-column-start: 3;
}

#p1-guess {
  padding: 0.1rem 0.3rem;
  font-size: 1.2rem;
}


/* Main */

main {
  overflow: scroll;
  padding: 0 3rem;
  margin: 1rem 0;
}

.div-popup {
  position: absolute;
  top: 5rem;
  right: 15%;
  bottom: 5rem;
  left: 15%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: solid 0.2rem teal;
  border-radius: 0.8rem;
  background-color: white;
}

.outcome {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

.div-people {
  height: 100%;
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 0 auto;
}

.div-people img {
  width: 150px;
  cursor: pointer;
}

.div-people p {
  font-weight: 600;
}

.deselected {
  filter: grayscale(100%);
  opacity: 0.4;
}


/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: start;
}

.div-p1-response, .div-p2-response {
  height: 12rem;
  min-width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/speech-bubble-01.png');
  background-size: cover;
}

.div-p2-response {
  background-image: url('../img/speech-bubble-02.png');
}

.response1, .response2 {
  padding-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: teal;
}

.div-question-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  margin: 0 1rem;
}

.div-question {
  height: 6rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  background-color: lightgray;
}

.div-question p {
  font-size: 2rem;
  line-height: 1.5;
}

.div-p1-question p {
  display: inline-block;
  padding: 0.4rem;
}

.div-p1-question select {
  padding: 0.4rem;
  background-color: lightgray;
  font-size: 2rem;
}

.current-question {
  font-weight: 600;
}


/* Display */

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}


/* Media queries */

@media screen and (max-width: 1200px) {

.div-people {
  max-width: 55rem;
  grid-template-columns: repeat(4, 1fr);
}

}