@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

* {
  font: 400 16px 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

button {
  background-color: teal;
  border-radius: 0.5rem;
  border-width: 0;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0.6rem;
}


/* Header */

header, footer {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: 8rem 1fr 8rem;
  margin: 0 auto;
  min-height: 8rem;
  row-gap: 1rem;
  width: 90%;
}

header section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-p1-person, .sec-p2-person {
  border: solid 0.2rem teal;
  border-radius: 0.8rem;
  padding: 1rem;
}

h1 {
  color: teal;
  font: 700 2.5em 'Raleway', sans-serif;
}

input {
  display: block;
  margin-bottom: 0.8rem;
  width: 100%;
}


/* Main */

main {
  position: relative;
}

.sec-popup {
  align-items: center;
  background-color: white;
  border: solid 0.2rem teal;
  border-radius: 0.8rem;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 15%;
  position: absolute;
  right: 15%;
  top: 5rem;
}

.sec-people {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 auto;
  padding: 3rem;
  width: 90%;
}

img {
  width: 150px;
}

.faded {
  opacity: 0.5;
}


/* Question section */

footer section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-response1, .sec-response2 {
  border: solid 0.2rem teal;
  border-radius: 0.8rem;
  padding: 1rem;
}

.sec-question {
  background-color: lightgray;
  border-radius: 0.8rem;
  padding: 1rem;
}

footer p {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.5;
  padding: 0.4rem;
}

select {
  appearance: none;
  background-color: lightgray;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.4rem;
}

.current-question {
  font-weight: 600;
}

.response1, .response2 {
  color: teal;
  font-weight: 700;
}


/* Controls section */

.sec-controls {
  grid-column: 1 / span 3;
}






.hidden {
  display: none;
}