@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

* {
  font: 400 16px 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

button {
  background-color: teal;
  border-radius: 0.5rem;
  border-width: 0;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0.6rem;
}


/* People section */

.sec-people {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 auto;
  padding: 3rem;
  width: 90%;
}

img {
  width: 150px;
}

.faded {
  opacity: 0.5;
}


/* Question section */

.sec-question {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: 1fr 6fr 1fr;
  margin: 0 auto;
  row-gap: 1rem;
  width: 90%;
}

.sec-question-divs {
  align-items: center;
  border: solid 0.2rem teal;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.sec-question-divs p {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.5;
  padding: 0.4rem;
}

.div-question {
  background-color: lightgray;
  border-width: 0;
  min-height: 6rem;
}

select {
  appearance: none;
  background-color: lightgray;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.4rem;
}

.current-question {
  font-weight: 600;
}

.response1, .response2 {
  color: teal;
  font-weight: 700;
}


/* Controls section */

.sec-controls {
  grid-column: 1 / span 3;
}

.button-guess {
  display: block;
}








.hidden {
  display: none;
}